:root { 
--black_900_a0:#000000a0; 
--black_900_c4:#000000c4; 
--gray_400:#b8b8b8; 
--blue_gray_100:#d9d9d9; 
--white_A700_b5:#ffffffb5; 
--gray_700_72:#59595972; 
--red_900:#ab0101; 
--blue_500:#1da1f2; 
--gray_900:#151515; 
--white_A700_4f:#ffffff4f; 
--black_900_3f:#0000003f; 
--white_A700_21:#ffffff21; 
--black_900_01:#040404; 
--black_900:#000000; 
--gray_400_01:#b1b1b1; 
--white_A700_bf:#ffffffbf; 
--white_A700:#ffffff; 
--white_A700_9e:#ffffff9e; 
--red_A700:#ff0000; 
--black_900_bf:#000000bf; 
--indigo_600:#3b5998; 
}