
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/LexendTeraBold.ttf"); font-family : "Lexend Tera"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/KarlaRegular.ttf"); font-family : "Karla"; font-weight : 400;  }